// =============================================================================
// constants
// =============================================================================

$font-family: sans-serif;
$font-size: 12px;

$min-screen-width: 540px;

$color-background: #fff;
$color-foreground: #000;
$color-accent: lightblue;

$headers:
  h1 2.0rem 0.6666rem,
  h2 1.8rem 0.6000rem,
  h3 1.6rem 0.5333rem,
  h4 1.4rem 0.4666rem,
  h5 1.2rem 0.4000rem,
  h6 1.0rem 0.3333rem;


// =============================================================================
// default
// =============================================================================

* {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  font-size: $font-size;
}

body {
  background-color: $color-background;
  color: $color-foreground;
  min-width: $min-screen-width;
}

@each $header, $font-size, $margin-size in $headers  {
  #{$header} {
    font-size: $font-size;
    margin: $margin-size 0;
  }
}

p {
  text-align: justify;
}

// =============================================================================
// components
// =============================================================================

.cmd-panel {
  background-color: $color-accent;
  padding: 0.7rem;
  margin: 0.7rem 0;
  display: flex;
  * {
    margin: 0 0.3rem;
  }
  button, input, select {
    background-color: $color-accent;
    border: solid 1px $color-background;
    border-radius: 0.7rem;
    padding: 0.3rem 0.7rem;
  }
}

.list-container {
  display: flex;
  margin: auto;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
  button, p {
    margin: 0.7rem 0;
    text-align: center;
  }
  button {
    min-width: 20rem;
    max-width: 20rem;
    background-color: $color-accent;
    border: solid 1px $color-background;
    border-radius: 0.7rem;
    padding: 0.3rem 0.7rem;
    margin: 0.7rem 0;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.create-container, .edit-container {
  max-width: 27rem;
  margin: auto;
  form {
    display: flex;
    flex-direction: column;
    label {
      font-weight: bolder;
      font-size: larger;
    }
    select, input {
      background-color: $color-background;
      border: solid 1px $color-accent;
      padding: 0.3rem 0.7rem;
    }
    & :last-child {
      font-size: larger;
      margin: 1.7rem auto;
      background-color: $color-accent;
      border: solid 1px $color-background;
      border-radius: 0.7rem;
    }
  }
}

.details-container, .delete-container {
  max-width: 27rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  & > p {
    font-size: larger;
    font-weight: bolder;
    margin: 1rem auto;
  }
}
